*{
    margin: 0;
}
header{
display: flex;
height: 50vh;
justify-content: flex-start;
}
.texto{
    border: solid red 2px;
    width: 25%;
}
.imagen{
    background-image: url('../img/cristiano.jpeg');
    height: 100%;
    width: 75%;
    background-size: 100% 100%;
}